h1 {
  color: #c54c82;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  color: #ec729c;
}
a {
  text-decoration: none;
  color: #ec729c;
}
a:hover {
  cursor: default;
}
.container {
  max-width: 600px;
  margin: auto;
}
.weatherApp {
  border: 1px solid #f4aeba;
  background: linear-gradient(to top, #dfe9f3 0%, white 100%);
  border-radius: 4px;
  padding: 20px;
  max-width: 650px;
  margin: auto;
}
.tempDays {
  margin: auto;
  padding: 0;
  text-align: center;
  background: linear-gradient(
    68.6deg,
    rgb(252, 165, 241) 1.8%,
    rgb(181, 255, 255) 100.5%
  );
  border-radius: 20px;
}
#main-temp {
  font-size: 50px;
}
.weather-image-main {
  padding-bottom: 20px;
  height: 100px;
}
.units {
  position: relative;
  top: -24px;
}
.info {
  list-style: none;
}
.other-info {
  text-align: right;
}
.date-info {
  padding: 0;
}
.search-city {
  background-color: #f4aeba;
  color: #c54c82;
}
.search-city:hover {
  background-color: #c54c82;
  color: #f4aeba;
}
.search-btn {
  padding: 0 12px 0 0;
}
.activeNow {
  color: black;
}
.weather-forecast {
  color: #c54c82;
  font-family: Arial, Helvetica, sans-serif;
}
.forecast-temperatures {
  font-size: 16px;
}
.temperature-min {
  opacity: 0.7;
}
.forecast-days {
  opacity: 0.8;
  font-size: 16px;
}
.forecast-img {
  max-width: 93px;
}
